<!DOCTYPE html>
<html lang="pt-br">
	<title>Corridas</title>
		<link rel="stylesheet" type="text/css" href="assets/css/estilo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/db3a9100e9.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <body>
        <div  class="log">
            <h1 class="h1"> Login Usuário</h1>
           
                   <form action="gravacorrida.py" method="post"> <!-- para usa o mysql essa linha-->
                        <div class="form-group">
                            <label>Email</label>
                          
                           <input type="text" class="form-control" id="email" name="local" placeholder="Digite seu e-mail" maxlength="80" required>
                       
                       </div>
           
                        <div class="form-group">
                            <label>Senha</label>
                          
                           <input type="text" class="form-control" id="senha" name="data" placeholder="Digite sua senha" maxlength="6" required>
                       
                       </div>
                       <button type="button" class="btn btn-link" ><a href="esqueciSenha.html">Esqueci a senha </a></button><br>
                        <button type="submit" class="btn btn-outline-primary" title="Envia as informações para o banco de dados">Entrar</button>
                       <button type="reset" class="btn btn-outline-danger"> <a href="cadastro_piloto.html">Cadastre-se </a></button>
                        
                 
                        </div>
                   </form>
    </div>

</body>